/* *  DEMO STYLE */
body {
  font-family: "Roboto", sans-serif;
  background: #706d93;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  outline: none;
}

.content {
  height: auto;
  width: calc(100% - 32px);
  background-color: rgba(255, 255, 255, 0.95);
  display: block;
  z-index: 100;
  position: absolute;
  top: 56px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 12px;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: #63b4ac !important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
  border: 0;
  background: none;
  height: 56px;
  padding: 0;
  margin-top: -8px;
  color: rgba(255, 255, 255, 0.95);
}

.btn-info {
  outline: 0;
}
.btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info:visited {
  color: #fff;
  background-color: #209488;
  border-color: #209488;
  border: 0;
}

.btn {
  width: auto;
  position: relative;
  background: #209488;
  display: inline-block;
  float: left;
  display: inline-block;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
}
.btn a {
  color: rgba(255, 255, 255, 0.95);
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 1.5px;
  position: relative;
  width: 110px;
  display: block;
  box-sizing: border-box;
  transition: all 0.7s ease-in;
}
.btn:before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 25px;
  transition: height 0.3s ease-in, width 0.7s ease-in 0.3s, border-radius 0.6s ease-in 0.3s, left 0.7s ease-in 0.3s, top 0.3s ease-in;
}
.btn:hover a {
  color: #209488;
}
.btn:hover::before {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0;
}
.btn:focus {
  box-shadow: none;
}

.btn2 {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: none;
}
.btn2 a {
  color: rgba(255, 255, 255, 0.95);
}
.btn2:before {
  background: rgba(255, 255, 255, 0.35);
  transition: height 0.2s ease-in, width 0.5s ease-in 0.2s, border-radius 0.5s ease-in 0.2s, left 0.5s ease-in 0.2s, top 0.2s ease-in;
}

.btn.square {
  width: 56px;
  box-shadow: none;
}
.btn.square a {
  width: 100%;
  text-align: center;
  padding: 0;
  line-height: 0;
}
.btn.square a i {
  line-height: 56px;
}
.btn.square:before {
  border-radius: 50%;
  transition: all 0.3s ease, border-radius 0.3s ease 0.2s;
}
.btn.square:hover::before {
  border-radius: 0;
}
.btn.square2 {
  background: #209488;
  height: 56px;
}
.btn.square2 a {
  color: rgba(255, 255, 255, 0.95);
}
.btn.square2:before {
  background: rgba(255, 255, 255, 0.35);
}
.btn.square3 {
  width: 56px !important;
  height: 56px !important;
  margin-right: -10px !important;
  margin-top: -10px !important;
  background: #706d93;
  height: 56px;
}
.btn.square3 a {
  color: rgba(255, 255, 255, 0.95);
}
.btn.square3:before {
  background: rgba(255, 255, 255, 0.35);
}

.button {
  border: 0;
  background: none;
  height: 56px;
  padding: 0;
  margin-top: -8px;
  color: rgba(255, 255, 255, 0.95);
}

.icon {
  font-size: 2rem;
  height: 1.25rem;
  padding: 0;
}

.title {
  color: rgba(255, 255, 255, 0.95);
  font-size: 1.25rem;
  line-height: 56px;
  margin-left: 44px;
  margin-right: auto;
}

.row {
  width: calc(100% + 15px);
  margin-left: -15px;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

#mapcontainer {
  width: 100%;
  position: fixed;
  top: 56px;
  height: calc(100vh - 56px);
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.storymap-map {
  position: fixed;
  padding: 0;
  margin-left: 15px;
  top: 56px;
  height: calc(100vh - 56px);
  max-width: 100%;
}

.storymap-story {
  padding: 0;
  margin-left: 15px;
  margin-top: 56px;
  display: flex;
}

.visible {
  margin-top: -30px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.section-content {
  background-color: rgba(255, 255, 255, 0.95) !important;
  font-family: Source Sans Pro, Overpass, Cairo, sans-serif !important;
  font-weight: 200 !important;
  font-size: 18px !important;
  color: #575757 !important;
  padding: 15px !important;
  margin-left: 15px !important;
  margin-right: 15px !important;
}

/* ---------------------------------------------------
 * *    SIDEBAR STYLE
 * *----------------------------------------------------- */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  margin-left: -250px;
  z-index: 3;
  background: #706d93;
  color: rgba(255, 255, 255, 0.95);
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: 0px;
}
#sidebar .sidebar-header {
  padding: 0;
  background: #706d93;
}
#sidebar ul p {
  color: rgba(255, 255, 255, 0.95);
  padding: 10px;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: rgba(255, 255, 255, 0.95);
  background: rgba(69, 67, 91, 0.65);
}
#sidebar ul li.active > a {
  color: rgba(255, 255, 255, 0.95);
  background: #706d93;
}

a[aria-expanded=true] {
  color: rgba(255, 255, 255, 0.95);
}
a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #706d93;
}
ul.CTAs {
  padding: 20px;
}
ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: rgba(255, 255, 255, 0.95);
  color: #7386D5;
}
a.article {
  background: #706d93 !important;
  color: rgba(255, 255, 255, 0.95) !important;
}
a.article:hover {
  background: #706d93 !important;
  color: rgba(255, 255, 255, 0.95) !important;
}

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 2;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

.heading {
  padding-left: 16px;
  line-height: 56px;
}

/* display .overlay when it has the .active class */
#dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  /* top right corner of the sidebar */
  top: 10px;
  right: 10px;
}

/* ---------------------------------------------------
 * *    CONTENT STYLE
 * *----------------------------------------------------- */
#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
 * *    MEDIAQUERIES
 * *----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebarCollapse span {
    display: none;
  }
}

/*# sourceMappingURL=storymap-rewrite.css.map */
